@use "variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

a {
    color: var(--color-primary);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

img {
    display: block;
}

.highlight {
    color: var(--color-primary);
    font-weight: bold;
}
