.themes-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid var(--color-border-colored);
    border-radius: 16px;
    padding: 48px;
    gap: 16px;
}

@media (max-width: 1080px) {
    .themes-list {
        grid-template-columns: repeat(2, 1fr);
    }
}
