.app-header {
    display: flex;
    align-items: center;
    height: 70px;
    padding: 8px;

    &__title {
        color: var(--color-primary);
        font-weight: bold;
        text-decoration: none;
        font-size: 1.5rem;
    }

    &__right-section {
        margin-left: auto;
    }
}
